.coordinates-display {
  position: absolute;
  top: 10px;
  left: 50%; 
  transform: translateX(-50%); 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 15px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  z-index: 1000; 
  font-size: 16px; 
  text-align: center; 
}

.add-button:hover {
  background-color: #0056b3;
}
